.row
  = form_for(@user) do |f|

    = render 'shared/error_communicat', object: f.object

    .form-inputs
      .field
        = f.label :first_name
        = f.text_field :first_name
    
      .field
        = f.label :last_name
        = f.text_field :last_name
    
      .field
        = f.label :email
        = f.email_field :email
      
      .field
        = f.label :password
        = f.password_field :password
      
      .field
        = f.label :password_confirmation, "Password confirmation"
        = f.password_field :password_confirmation
    
    .form-action
      = f.submit "Create My Account", class: "btn btn-primary"